body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Navigation header changes*/
.navbar-inverse {
    background-color: #413fb5;
    border-color: #333;
    border-bottom: solid;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

/*Changes to homepage display*/
#homepage {
    background-color: #adafff;
    padding: 0 0 0 .5em;
    text-align: center;
    margin-right: 42em;
}

.col-md-4 {
    width: 50%;
    background-color: #eee;
}

#noColor {
    background-color: #fff;
}


/*Event Store Index & search page changes*/

#eventIndex {
    text-align: center;
}

#IndexBackground {
    background-image: url('Images/market.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    padding-bottom: 10em;
}

h3#homeSearch {
    text-align: center;
    color: #413fb5;
}

#homeSearchBox {
    padding-top: 1em;
    padding-bottom: 2em;
    border-radius: 1em;
}

.searchBars {
    padding: 15px;
    text-align: center;
}

#searchButton {
    padding: .5em 1.5em .5em 1.5em;
    border-radius: .60em;
}

/*#searchImage {
    
}*/


/*Changes to buttons and links*/
.button {
    background-color: #413fb5;
    color: white;
    text-decoration: none;
    border-radius: .25em;
}

#deals {
    padding: .5em 8em .5em 8em;
    border-radius: .40em;
}

.RemoveLink {
    background-color: #ba1f16;
    padding: .5em;
    color: white;
    text-decoration: none;
    border-radius: 1em;
}

.button a, .button a:visited{
    color: white;
}

/*Changes to tables*/
.table{
    border: solid;
    border-color: black;
    table-layout: auto;
}