@model EnrollmentApplication.Models.Student

<div class="panel panel-student">
    <div class="panel-heading">
        <h3 class="panel-title">Student of the Month</h3>
    </div>
</div>
<div class="panel-body">
    <p>
        <em>Student: </em>
        @Model.FirstName
        @Model.LastName
    </p>

    @Ajax.ActionLink("Student of the Month",
            "StudentOfTheMonth",
            null,
            new AjaxOptions
            {
                UpdateTargetId="MonthlyStudent",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            },
            new {@class = "btn btn-student" })
</div>