
@model IEnumerable<IT2030_MeganOstrander_FinalProject.Models.Event>


<div id="searchresults">
    <p> No search results found! </p>
</div>


@section scripts
    {
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/App/EventScripts.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}
