@model IT2030_MeganOstrander_FinalProject.Models.Cart


@{
    ViewBag.Title = "Order Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts
    {
    <script src="~/Scripts/App/EventScripts.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<h1>Order Summary</h1>

<div id="summary">

    <p>Order Number + @Html.DisplayFor(model => model.RecordId)</p>
    <p>@Html.DisplayTextFor(model => model.EventSelected.Title)</p>
    <p>Number of Tickets: @Html.DisplayTextFor(model => model.EventSelected.Quantity)</p>
</div>



<div>
    @Html.ActionLink("Back to Browse", "Index", "EventStore")
</div>


