@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="IndexBackground">
    <div id="homepage">
        <h1 id="homepage-title">Event R Us</h1>
        <p class="lead">Find events near you. Never miss out again!</p>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find an Event</h2>
        <div class="panel-body, searchBars">
            @using (Ajax.BeginForm("EventSearch", "EventStore", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                OnFailure = "searchFailed",
                LoadingElementId = "ajax-loader",
                UpdateTargetId = "searchresults"
            }))
            {
                <input type="text" name="q" placeholder="Event Type or Event Title" />
                <input id="searchButton" type="submit" value="search" class="button" />
                <img id="ajax-loader"
                     src=""
                     style="display:none" />
            }

            @using (Ajax.BeginForm("LocationSearch", "EventStore", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                OnFailure = "searchFailed",
                LoadingElementId = "ajax-loader",
                UpdateTargetId = "searchresults"
            }))
            {
                <input type="text" name="p" placeholder="Location, City, or State" />
                <input id="searchButton" type="submit" value="search" class="button" />
                <img id="ajax-loader"
                     src=""
                     style="display:none" />
            }

        </div>

        <div id="searchresults"></div>
    </div>


    <div class="col-md-4" id="noColor">
        <div id="daily">
            <div>
                @Ajax.ActionLink("Click here to see Last Minute Deals!", "Deals", "EventStore", null, new AjaxOptions
                    {
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET",
                           OnFailure = "dealFailed",
                           LoadingElementId = "ajax-loader",
                           UpdateTargetId = "daily"
                     },
                        new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>



</div>



@section scripts
    {
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/App/EventScripts.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}