@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event R Us</h1>
    <p class="lead">Find events near you. Never miss out again!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find an Event</h2>
        <p>
            <input type="text" placeholder="Event or Event Type" id="searchEventBox" />
            <input type="text" placeholder="Location, City, or State" id="searchEventLocation" />
            <button type="button" id="searchButton">search</button>
        </p>
    </div>

    <div class="col-md-4">
        <p>
            <button type="button">Click here to see Last Minute Deals!</button>
        </p>
    </div>
</div>