body
{
    font-family: 'Times New Roman', Times, serif;
    height: 800px;
    width: 1800px;
    text-align: center;
}

h1 
{
    background-color: aqua;
    height: 5%;
    margin: 0%;
    padding: 1%;
}

main
{
    background-color: yellow;
    height: 75%;
    padding: 1% 1% 10% 1%;
    margin: .2% 0;
}

#menu 
{
    float: left;
    width: 23%;
    text-align: left;
    padding-left: 2%;
    font-size: 1.5em;
}

#content 
{
    float: right;
    padding-left: 2%;
    width: 60%;
    font-size: 1.5em;
}

footer
{
    background-color: aqua;
    height: 5%;
    padding-top: 1%;
    font-size: 1.25em;
}